@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg: #212121;
    --primary: #323232;
    --secondary: #414040;
    --detail: #314;
}
.Typewriter__cursor {
    visibility: hidden;
}
