@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg: #212121;
    --primary: #323232;
    --secondary: #474554;
    --detail: #fbb566;
}
.Typewriter__cursor {
    visibility: hidden;
}
